<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="startStyle.css">
    <title>The Resturant:Where is the best Burgers</title>

</head>
<body>
    <header>
            
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Orders</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/logout">Logout</a></li>

    </ul>
</nav>
        
</header>